
/* Color palette
--brown-sugar: #ae6147ff;
--zomp: #3ea38bff;
--antiflash-white: #f1f2f6ff;
--feldgrau: #466060ff;
--rich-black: #0e0f19ff;
*/

.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }
.caveat-fonts {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}



.content {
    padding: 20px;
    flex: 1; /* Ensures the content grows to fill space */
}


html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   /* Centers the content horizontally */
    align-items: center;
    flex-grow: 1; 
    font-family: 'Patrick Hand';
    font-weight: 700;
    font-size: 18px;
    color: #0e0f19ff;
}

p {
    font-family: 'Patrick Hand';
    font-weight: 700;
    color: #0e0f19ff;
    /* padding: 20px; */
}

.img-container {
    text-align: center;  /* Centers the image horizontally */
}

img {
    display: block;  
    margin: 0 auto;  /* Center image inside its container */
}


h1 {
    font-family: Rock Salt;
    font-size: 50px;
    color: #0e0f19ff;
    text-align: center;
}

h2 {
    font-family: Caveat;
    font-size: 30px;
    font-weight: 400px;
    color: #3ea38bff;
    text-align: center;
}

h3 {
    font-family: Caveat;
    font-size: 30px;
    color: #ae6147ff;
}


.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
} 
.icon-container {
    display: flex;            /* Use flexbox to align children in a row */
    justify-content: center;  /* Optionally center the icons horizontally */
    align-items: center;      /* Optionally center the icons vertically */
}



/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #466060ff;
    font-family: Caveat;
    position: fixed;
    top: 0px;
    right: 16px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color: #f1f2f6ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #f1f2f6ff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3ea38bff;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f2f6ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #0e0f19ff;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #0e0f19ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


.button {
    width: 100px;
    height: 40px;
    object-fit: contain;
    background-color: #3ea38bff;
    color: #f1f2f6ff;
    box-shadow: 0 8px 16px 0;
    /* border-color: #466060ff; */
    border-radius: 6px;
    font-family: 'Patrick Hand';
    font-weight: 700;
} 

.button:hover {
    width: 100px;
    height: 40px;
    object-fit: contain;
    background-color: #ae6147ff;
    color: #f1f2f6ff;
    box-shadow: 0 8px 16px 0;
    /* border-color: #466060ff; */
    border-radius: 6px;
} 

.pdf-button {
    position: fixed;   /* Fixes the button in place */
    top: 10px;          /* Positions it 10px from the top of the page */
    left: 10px;  
    width: 100px;
    height: 40px;
    /* object-fit: contain; */
    background-color: #3ea38bff;
    color: #f1f2f6ff;
    box-shadow: 0 8px 16px 0;
    /* border-color: #466060ff; */
    border-radius: 6px;
    font-family: 'Patrick Hand';
    font-weight: 700;
} 
.pdf-button:hover {
    position: fixed;   /* Fixes the button in place */
    top: 10px;          /* Positions it 10px from the top of the page */
    left: 10px;  
    width: 100px;
    height: 40px;
    /* object-fit: contain; */
    background-color: #ae6147ff;
    color: #f1f2f6ff;
    box-shadow: 0 8px 16px 0;
    /* border-color: #466060ff; */
    border-radius: 6px;
} 
.resume-section {
    border: 2px solid #466060ff; /* Border color and thickness */
    padding: 10px; /* Space between the content and the border */
    margin: 10px 10px; /* Space around the box */
    border-radius: 8px; /* Optional: rounded corners */
    background-color: #f1f2f6ff; /* Optional: background color */
    max-height: 80vh;
}

.centered-content {
    display: grid;
    place-items: center;  /* Centers both horizontally and vertically */
    height: 60px;
  }

.centered-container {
  display: grid;
  place-items: center;  /* Centers both horizontally and vertically */
  height: auto;  /* Adjust for flexible height */
  overflow-y: auto; /* Allow vertical scroll if necessary */
}

.footer {
  font-family: Caveat;
  text-align: center;
  padding: 20px;
  margin-top: auto; 
  height: auto;  /* Adjust for flexible height */
  overflow-y: auto; /* Allow vertical scroll if necessary */
}