
/* Color palette
--brown-sugar: #ae6147ff;
--zomp: #3ea38bff;
--antiflash-white: #f1f2f6ff;
--feldgrau: #466060ff;
--rich-black: #0e0f19ff;
*/

.inter-fonts {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.caveat-fonts {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font: Inter;
    color: #0e0f19ff;
}

h2 {
    font: Inter;
    color: #466060ff;
}

h3 {
    font: Inter;
    color: #ae6147ff;
}

p {
    font: Caveat;
    color: #0e0f19ff;
}

.icons {
    display: inline-block;
    padding-left: 30px; /* Adjust padding to match icon size */
    /* background: url('icon.png') no-repeat left center; */
    background-size: 20px 20px;
} 